# === Python Stuff ===

# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/
.venv/
.ENV/
.env/

# VS Code + PyCharm
.vscode/
.idea/

# Logs, caches, tests
*.log
.cache/
.mypy_cache/
.tox/
coverage.*
htmlcov/
*.cover
*.egg
*.egg-info/
dist/
build/
.ipynb_checkpoints/
